@import "mixins";
@import "variables";

.form__title {
	@include form-title;
}

.input {
	@include input;
}

.form__buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.buttons__label {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.form__button--next {
	@include form-button;
	@include form-button-next;
}

.form__button--submit {
	@include form-button;
	@include form-button-submit;
}

.form__button--back {
	@include form-button;
	@include form-button-back;
}

.input--inner__radio {
	.radio__item--field {
		display: flex;
		justify-content: start;
		align-items: center;
		padding: 1rem 0;

		.radio__item {
			margin-right: 1rem;
			label {
				font-family: $second-font;
			}
		}
	}
}

.input--inner__confirmation {
	margin: 2rem 0;
	label {
		font-family: $second-font;
	}
}
