@import "variables";
@import "mixins";

.block {
	width: 100%;
	min-height: 100vh;
	background: $bg-color;
	display: flex;
	justify-content: center;
	align-items: center;

	.block__container {
		padding: 1.5rem;
		border-radius: .4rem;

		.container__title {
			@include main_title;
		}

		.container__form {
			max-width: 40rem;
		}
	}
}
