// Colors
$bg-color: #F2E9E9;
$font-color: #171C26;
$highlite-color: #F23322;
$muted-color: #F2594B;
$second-color: #57b045;


//Font
$main-font: 'Lobster', cursive;
$second-font:  'Roboto', sans-serif;
